// --- BACKGROUND COLORS ------------------------------------------ //

.background-none {
  background: none;
}

.background-primary {
  background-color: $primary-color;
}

.background-secondary {
  background-color: $secondary-color;
}

.background-alternate {
  background-color: $primary-text-color;
}

@each $color-name, $color-value in $colors {
  .background-#{$color-name} {
    background-color: $color-value;
  }
}
