.border-black {
  border: solid black 2px;
  margin: 0.2em;
  padding: 0.2em;
}

.border-primary {
  border: solid $secondary-text-color 3px;
}

.border-round-right {
  @include border-smooth-right($input-radius);
  border-left: none;
}

.border-round-left {
  @include border-smooth-left($input-radius);
  border-right: none;
}

.border-round {
  @include border-smooth-right($input-radius);
  @include border-smooth-left($input-radius);
}

.pop-focus {
  box-shadow: 0 0 $secondary-color;
  transition: box-shadow 0.1s;

  &:focus {
    outline: none;
    box-shadow: 0 3px $secondary-color;

    & + input, & + button {
      outline: none;
      box-shadow: 0 3px $secondary-color;
      // box-shadow: 0 0 0 2px $secondary-color;
    }

  }
}
