@each $color-name, $color-value in $colors {
  .border-#{$color-name} {
    border: solid $color-value 2px;
  }
}

.border-primary {
  border: solid $secondary-text-color 2px;
}

.border-round-right {
  @include border-smooth-right($input-radius);
  border-left: none;
}

.border-round-left {
  @include border-smooth-left($input-radius);
  border-right: none;
}

.border-round {
  @include border-smooth-right($input-radius);
  @include border-smooth-left($input-radius);
}

.pop-focus {
  box-shadow: 0 0 $secondary-color;
  transition: box-shadow 0.1s;

  &:focus {
    outline: none;
    box-shadow: 0 3px $secondary-color;

    & + input, & + button {
      outline: none;
      box-shadow: 0 3px $secondary-color;
      // box-shadow: 0 0 0 2px $secondary-color;
    }

  }
}
