.grid {
  display: grid;
}

.column-1 {
  grid-template-columns: 1fr;
}

.column-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-column-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

.gap-medium {
  grid-gap: 1em;
}
