@mixin margin-sides($width) {
  margin-left: $width;
  margin-right: $width;
}

@mixin text-color($color, $secondary-color) {
  color: $color;

  &:link {
    color: $color;
  }

  &:visited {
    color: $secondary-color;
  }

  &:active {
    color: $secondary-color;
  }
}
