// --- MARGIN ------------------------------------------ //

@mixin margin-verticals($width) {
  margin-top: $width;
  margin-bottom: $width;
}

@mixin margin-sides($width) {
  margin-left: $width;
  margin-right: $width;
}


// --- TEXT COLOR ------------------------------------------ //

@mixin text-color($color, $secondary-color) {
  color: $color;

  &:link {
    color: $color;
  }

  &:visited {
    color: $secondary-color;
  }

  &:active {
    color: $color;
  }
}

@mixin hover-text-color($color, $secondary-color) {
  &:hover {
    color: $color;

    &:link {
      color: $color;
    }

    &:visited {
      color: $secondary-color;
    }

    &:active {
      color: $color;
    }
  }

}

// --- BORDER RADIUS ------------------------------------------ //

@mixin border-smooth-right($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-smooth-left($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
