// --- TEXT COLORS --- //

p, span, h1, h2, h3, h4, h5, h6, li, a, label {
  @include text-color($primary-text-color, $secondary-text-color);
}

.text-color-primary {
  color: $primary-text-color
}

.text-color-secondary {
  color: $secondary-text-color
}

.text-color-alternate {
  color: $secondary-color
}

@each $color-name, $color-value in $colors {
  .text-#{$color-name} {
    @include text-color($color-value, $color-value)
  }
}

.pointer {
  cursor: pointer;
}

// --- TEXT DECORATIONS --- //

.decoration-none {
  text-decoration: none;
}

.decoration-underline {
  text-decoration: underline;
}

.decoration-overline {
  text-decoration: overline;
}
