// --- COLORS ------------------------------------------ //

// from website
$black: #000;
$grey: #1F1E2B;
$light-grey: #888;
$blue: #20FFF4;
$green: #209961;
$white: #FFF;
$yellow: #F9C51A;

$colors: (
"black": $black,
"grey": $grey,
"light-grey": $light-grey,
"blue": $blue,
"green": $green,
"white": $white,
"yellow": $yellow
);
// TODO GET YELLOW COLOR

$primary-color: $grey;
$secondary-color: $green;
$primary-text-color: $white;
$secondary-text-color: $blue;


// --- BODY ------------------------------------------ //

$body-padding: 2em;


// --- INPUTS ------------------------------------------ //

$input-radius: 6px;

// --- MODAL MASK ------------------------------------- //

$modal-mask-color: #555A;
