$dark-blue: #1572A1;
$light-blue: #9AD0EC;
$light-pink: #EFDAD7;
$dark-pink: #E3BEC6;

$primary-color: $dark-blue;
$secondary-color: $light-blue;
$primary-text-color: $light-pink;
$secondary-text-color: $dark-pink;

$body-padding: 2em;
